@page "/checkout"
@inject OrderState OrderState
@inject NavigationManager  NavigationManager
@inject HttpClient HttpClient

<div class="main">
    <EditForm Model="OrderState.Order.DeliveryAddress" OnValidSubmit="PlaceOrder">
        <div class="checkout-cols">
            <div class="checkout-order-details">
                <h4>Esta es la Orden</h4>
                <OrderReview Order="OrderState.Order" />
            </div>
            <div>
                <h4>Información para Enviar la Orden</h4>
                <AddressEditor Address="OrderState.Order.DeliveryAddress" />
            </div>
        </div>
        <button type="submit" disabled="@habilitar" class="checkout-button btn btn-warning">Aceptar Orden</button>
        <DataAnnotationsValidator/>
    </EditForm>
</div>


@code {

    bool habilitar = false;

    async Task PlaceOrder()
    {
        habilitar = true;
        var Response = await HttpClient.PostAsJsonAsync("orders", OrderState.Order);
        var NewOrderId = await Response.Content.ReadFromJsonAsync<int>();
        OrderState.ResetOrder();
        NavigationManager.NavigateTo($"myorders/{NewOrderId}");
    }

}
