@inherits LayoutComponentBase
    <div class="top-bar">
        <img class="logo" src="images/logo.svg" />
        <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
            <img src="images/pizza-slice.svg" />
            <div>Solicitar Pizza</div>
        </NavLink>
        <NavLink href="myorders" class="nav-tab" Match="NavLinkMatch.All">
            <img src="images/bike.svg" />
            <div>Mis Ordenes</div>
        </NavLink>
        <LoginDisplay/>
    </div>
<div class="content">
    @Body
</div>
